<link rel="stylesheet" href='/static/style.css' />
<body>
<p>Home page</p>
</body>
<h1>
	Command List
</h1>
<h2>
<p> <a href="/forward" target="_blank">Forward</a> </p>
<p> <a href="/backward" target="_blank">Backward</a> </p>
<p> <a href="/left" target="_blank">Left</a> </p>
<p> <a href="/right" target="_blank">Right</a> </p>
<p> <a href="/picture" target="_blank">Take Picture</a> </p>
<p> <a href="/label" target="_blank">Analyze Image</a> </p>
</h2>
<h3> 
	<form action="/forward" target="_blank">Go Forward
		<input type="submit" value="W">
	</form>
	<form action="/backward" target="_blank">Go Backward
		<input type="submit" value="S">
	</form>
	<form action="/left" target="_blank">Turn Left
		<input type="submit" value="A">
	</form>
	<form action="/right" target="_blank">Turn Right
		<input type="submit" value="D">
	</form>
</h3>
